.posts-page {
  height: auto;
  justify-content: flex-start;
  padding: 150px 0;
}

.posts-intro {
  text-align: center;
  font-size: 24px;
  color: #333;
  line-height: 1.4;
  font-family: "Pretendard", sans-serif;
  margin-top: 120px;
  margin-bottom: 20px;
}

.posts-intro strong {
  font-weight: 700;
}

.button-row {
  width: 100%;
  max-width: 592px;
  display: flex;
  justify-content: flex-end;
}

.post-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 24px;
  margin-bottom: 40px;
}

.welcome-text {
  font-weight: 400;
  font-size: 24px;
}

.write__button {
  border-radius: 40%;
}
