.profile-section {
  width: 100%;
  max-width: 360px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.helper-text {
  font-size: 12px;
  color: #ed4956;
  margin-bottom: 8px;
  text-align: left;
}

.profile-label {
  font-family: "Pretendard", sans-serif;
  font-weight: 700;
  font-size: 15px;
}

.profile-upload {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.profile-preview {
  width: 120px;
  height: 120px;
  font-weight: 100;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: #555;
  cursor: pointer;
  transition: 0.2s;
}

.profile-preview:hover {
  background-color: #cfcfcf;
}
