@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");
@import "./reset.css";
@font-face {
  font-family: "KccHanbit";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "KccHanbit", "WantedSans";
  background-color: #f4f5f7;
}

main {
  max-width: 1200px;
  margin: auto;
}

.title {
  font-family: "Pretendard", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 32px;
  margin-bottom: 50px;
}

.link {
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
}

.link:hover {
  cursor: pointer;
}
