@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");
@import "./reset.css";
@import "./src/components/Header.css";
@import "./src/components/PostCard.css";
@import "./src/pages/Posts.css";
@import "./src/pages/Login.css";
@import "./src/pages/WritePost.css";
@import "./src/pages/PostDetail.css";
@import "./src/components/Comment.css";
@import "./src/components/CommentForm.css";
@import "./src/pages/EditProfile.css";
@import "./src/pages/EditPassword.css";

body {
  margin: 0;
  background-color: #f4f5f7;
}

main {
  max-width: 600px;
  margin: auto;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: "Pretendard", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 32px;
  margin-bottom: 50px;
}

.link {
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
}

.link:hover {
  cursor: pointer;
}

.error {
  display: none;
  width: 355px;
  color: #ed4956;
  font-size: 12px;
  margin-top: 4px;
}

.error.show {
  display: block;
}

.profile-image {
  width: 36px;
  height: 36px;
  font-weight: 100;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
