.post-page {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
}

.post-container {
  background-color: #ffffff;

  border-bottom: solid 1px #cecece;
}

.post-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  width: 544px;
  margin: 0 auto;
}

.post-title {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-author-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author-image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #d9d9d9;
  flex-shrink: 0;
}

.author-name {
  font-weight: 700;
  color: #000;
  font-size: 15px;
}

.post-date {
  font-size: 14px;
  color: #777;
  margin-left: 4px;
}

.post-actions {
  position: relative;
}

.post-menu-icon {
  font-size: 24px;
  cursor: pointer;
  padding: 8px;
}

.post-menu-dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 32px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  width: 120px;
  z-index: 20;
}

.post-menu-dropdown.show {
  display: block;
}

.post-menu-item {
  padding: 12px;
  cursor: pointer;
}

.post-menu-item:hover {
  background: #f4f4f4;
}

.post-menu-item.delete:hover {
  background-color: #eba0a0;
  border-radius: 0 0 8px 8px;
}

.post-divider {
  display: block;
  height: 1px;
  width: 600px;
  background-color: #ccc;
  border: none;
  margin: 10px auto;
}

.post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.detail-post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.post-image {
  width: 544px;
  height: 306px;
  background-color: #d9d9d9;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 8px;
}

.post-content {
  width: 544px;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
  white-space: pre-wrap;
  margin: 30px auto;
  padding: 0;
}

.post-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.stat {
  width: 100px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Galmuri11";
  font-size: 13px;
  font-weight: 600;
  border-right: solid 1px #777;
  gap: 3px;
}

.stat span {
  color: #777;
}

.stat strong {
  font-size: 12px;
  font-weight: 700;
}

.stat.like-stat {
  cursor: pointer;
}

.stat.like-active {
  color: #eba0a0;
  transition: 0.2s;
}
