:root {
  --color-bg: #fdfdfd;
  --color-text: #111;
  --color-accent: #ff4040;
}

.Input__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.Input__field {
  width: 355px;
  height: 38px;
  border: none;
  border-bottom: solid 1px #d4d4d4;
  padding: 0 10px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  box-sizing: border-box;
  margin-top: 10px;
}

.Input__field:focus {
  border-bottom: solid 1px var(--color-accent);
}

.Input__field::placeholder {
  color: #000;
  opacity: 0.6;
}
