.comment-item {
  width: 544px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.comment-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.comment-author-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.comment-author-image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.comment-author {
  font-weight: 700;
  color: #000;
  font-size: 15px;
}

.comment-date {
  font-size: 14px;
  font-weight: 400;
  color: #888;
}

.comment-content,
.comment-edit-wrapper {
  margin-left: 44px;
  font-size: 15px;
  font-weight: 400;
}

.comment-right {
  display: flex;
  gap: 8px;
  margin-left: auto;
}

.comment-btn {
  background: none;
  border: 1px solid #7b6ef6;
  font-size: 14px;
  border-radius: 6px;
  padding: 4px 10px;
  cursor: pointer;
  transition: 0.2s;
}

.comment-btn:hover {
  background: #7b6ef6;
  color: #fff;
}

.comment-edit-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.comment-edit-input {
  width: 470px;
  border: none;
  min-height: 60px;
  border-radius: 8px;
  padding: 8px;
  resize: none;
}

.comment-edit-actions {
  display: flex;
  gap: 8px;
}

.comment-save-btn,
.comment-cancel-btn {
  background: #7b6ef6;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 4px 10px;
  cursor: pointer;
  font-size: 14px;
}

.comment-cancel-btn {
  background: #999;
}
