.layout-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 104px;
  background: #f4f5f7;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.header-title {
  font-size: 32px;
}

.back-button {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  padding: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-button img {
  width: 24px;
  opacity: 0.9;
  transition: opacity 0.2s;
}

.back-button:hover img {
  opacity: 0.6;
}

.header__profile-image {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  padding: 6px;
  width: 36px;
  height: 36px;
  font-weight: 100;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
